html, body {
	background-color: #151515;
}

body {
	padding: 50px 0;
}

.clear {
	clear: both;
}

/* 모바일 */
@media (max-width: 1000px) {
	
	#wrapper {}
	
	h2 {
		font-size: 35px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	.panel {
		padding: 20px;
	}
	
	.panel p {
		margin-top: 20px;
	}
	
	.project-image img {
		width: 100%;
	}
	
	.project-info {
		margin-top: 25px;
		color: #ccc;
	}
	
	.project-info .dev {
		margin-top: 20px;
		text-align: right;
		font-style: italic;
	}
	
	.project ul {
		margin-top: 20px;
	}
	
	#btncafe img {
		float: left;
		width: 33.3%;
	}
	
	.member {
		padding : 20px;
		padding-bottom: 15px;
		float: none;
		margin-bottom: 20px;
	}
	
	.member.last {
		margin-bottom: 0;
	}
	
	.member-line {
		display: none;
	}
	
	#member-detail {
		display: none;
	}
}

/* PC */
@media (min-width: 1001px) {
	
	#wrapper {
		width: 950px;
		margin: auto;
	}
	
	h2 {
		font-size: 50px;
	}
	
	h3 {
		font-size: 30px;
	}
	
	.panel {
		padding: 50px;
	}
	
	.panel p {
		margin-top: 30px;
	}
	
	.panel .sign {
		margin-top: 20px;
		text-align: right;
		font-style: italic;
		color: #999;
	}
	
	.project-image {
		float: left;
		width: 450px;
	}
	
	.project-image img {
		width: 450px;
	}
	
	.project-info {
		margin-left: 20px;
		width: 340px;
		float: left;
		color: #ccc;
	}
	
	.project-info .dev {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-style: italic;
	}
	
	.project ul {
		margin-top: 45px;
	}
	
	#btncafe img {
		float: left;
		width: 150px;
		height: 150px;
	}
	
	.member {
		width: 150px;
		height: 220px;
		padding : 20px;
		margin-right: 30px;
		float: left;
	}
	
	.member .detail {
		display: none;
	}
	
	.member.last {
		margin-right: 0;
	}
	
	.member-line.last {
		margin-right: 0;
	}
}

h1 {
	text-align: center;
}

h1 img {
	width: 295.5px;
}

h2 {
	margin-bottom: 30px;
}

h3 {
	border-left: 5px solid #980100;
	padding-left: 10px;
}

i {
	color: #980100;
}

li {
	margin-bottom: 5px;
}

ul {
	color: #999;
}

.panel {
	margin-top: 50px;
	background-color: #1e1e1e;
}

.panel p {
	color: #999;
	font-size: 16px;
}

.project {
	position: relative;
	margin-top: 20px;
	padding: 20px;
	background-color: #151515;
}

.member {
	background-color: #151515;
	text-align: center;
}

.member .profile {
	width: 150px;
}

.member .name {
	margin-top: 20px;
	color: #999;
	font-size: 20px;
}

.member .role {
	margin-top: 10px;
	color: #666;
	font-size: 15px;
}

.member .detail {
	margin-top: 20px;
	color: #999;
	text-align: left;
}

.member-line {
	background-color: #151515;
	width: 190px;
	margin-right: 30px;
	float: left;
}

#member-detail {
	background-color: #151515;
	padding : 20px;
	padding-bottom: 15px;
	height: 235px;
}